<html lang="en"><head>
   <title>PlayBot Control</title>
   <meta charset="utf-8">
   <!--For mobile rendering properly-->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--Bootstrap necessary scripts-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <!-- Add icon library -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <!--Flask AJAX-->
   <script type="text/javascript">
        $SCRIPT_ROOT = "";
        // State control
        ON = "on"
        OFF = "off"

      // On page load
        $(document).ready(function() {
            function changePin(pinNum, state) {
                $.ajax({
                    url : '/ledAction?changePin='+pinNum+'&action='+state
                });
            }
            // ------ ROBOT CONTROL -----
            function robot_forward() {
                $.ajax({
                    url : '/forward'
                });
            }

            function robot_backward() {
                $.ajax({
                    url : '/backward'
                });
            }

            function robot_turn_right() {
                $.ajax({
                    url : '/turn_right'
                });
            }

            function robot_turn_left() {
                $.ajax({
                    url : '/turn_left'
                });
            }

            function robot_stop() {
                $.ajax({
                    url : '/stop'
                });
            }

            function speed_slow() {
                $.ajax({
                    url : '/speed_slow'
                });
            }

            function speed_med() {
                $.ajax({
                    url : '/speed_med'
                });
            }

            function speed_fast() {
                $.ajax({
                    url : '/speed_fast'
                });
            }

            function shoot_on() {
                $.ajax({
                    url : '/shoot_on'
                });
            }

            function shoot_off() {
                $.ajax({
                    url : '/shoot_off'
                });
            }

            // Call stop at the start just incase
            robot_stop();

            // // ----- LED CONTROL ---------
            // var LED_BTN = $('#led');
            // LED_BTN.on("touchstart mousedown", function(e) {
            //     e.preventDefault();
            //     changePin(23, ON);
            //     LED_BTN.addClass("btn-light").removeClass("btn-dark");
            // });
            // LED_BTN.on("touchend mouseup", function(e) {
            //     e.preventDefault();
            //     changePin(23, OFF);
            //     LED_BTN.addClass("btn-dark").removeClass("btn-light");
            //});
            // ------ BUTTON CONTROLS ---------
            var all_btns = $('#up_btn, #left_btn, #right_btn, #down_btn');
            all_btns.on("touchend mouseup", function(e) {
                e.preventDefault();
                robot_stop();
            });
            
            $('#up_btn').on("touchstart mousedown", function(e) {
                e.preventDefault();
                robot_forward();
            });

            $('#down_btn').on("touchstart mousedown", function(e) {
                e.preventDefault();
                robot_backward();
            });

            $('#left_btn').on("touchstart mousedown", function(e) {
                e.preventDefault();
                robot_turn_left();
            });

            $('#right_btn').on("touchstart mousedown", function(e) {
                e.preventDefault();
                robot_turn_right();
            });

            // ------SPEED CONTROLS -----------------
            $('#btn_slow').on("touchstart mousedown", function(e) {
                e.preventDefault();
                speed_slow();
            });

            $('#btn_med').on("touchstart mousedown", function(e) {
                e.preventDefault();
                speed_med();
            });

            $('#btn_fast').on("touchstart mousedown", function(e) {
                e.preventDefault();
                speed_fast();
            });

            $("div.btn-group button.btn").on("touchend mouseup", function(){
                $("div.btn-group").find(".active").removeClass("active");
                $(this).addClass("active");
            });

            // Set speed to medium on page load
            speed_med();

            // ------ SHOOTER CONTROLS --------------
            $('#shooter_btn').on("touchstart mousedown", function(e) {
                e.preventDefault();
                shoot_on();
            });

            // $("#shooter_btn").on("touchend mouseup", function(e){
            //     e.preventDefault();
            //     shoot_off();
            // });
            
        })
   </script>
   <style>
      .btn {
         height: 60px;
         margin-top: 20px;
      }
      .fa-bullseye {
          color: red;
      }
   </style>
</head>
<body>
    <div class="container-fluid">
        <div class="d-sm-none d-md-block">
            <h1 align="center">PlayBot Control</h1>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://{{ip}}:8080/javascript_simple.html" frameborder="0" scrolling="no" allowfullscreen="">
                    </iframe>
                </div>
                <!--<img src="/video_feed" class="img-responsive img-rounded" width="640">-->
            </div>
            <div class="col-sm">
                <!--CONTROL BUTTONS-->
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <button id="up_btn" type="button" class="btn btn-primary btn-block">
                            <i class="fa fa-lg fa-arrow-up" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="left_btn" type="button" class="btn btn-primary btn-block">
                            <i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col">
                        <!--SHOOTER BUTTONS-->
                        <button id="shooter_btn" type="button" class="btn btn-block btn-dark">
                            <i class="fa fa-2x fa-bullseye" aria-hidden="true"></i>
                        </button>
                        <!--SHOOTER BUTTONS-->
                    </div>
                    <div class="col">
                        <button id="right_btn" type="button" class="btn btn-primary btn-block">
                            <i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <button id="down_btn" type="button" class="btn btn-primary btn-block">
                            <i class="fa fa-lg fa-arrow-down" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col"></div>
                </div>
                <!--CONTROL BUTTONS-->
                <div class="row">
                    <div class="col">
                        <!--SPEED CONTROL-->
                        <div class="btn-group btn-group-lg btn-block">
                            <button id="btn_slow" type="button" class="btn btn-primary">Slow</button>
                            <button id="btn_med" type="button" class="btn btn-primary active">Medium</button>
                            <button id="btn_fast" type="button" class="btn btn-primary">Fast</button>
                        </div>
                        <!--SPEED CONTROL-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>